doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar(user)
      div.container
        h1.mb-3 Landing Page
        p.lead This a NodeJS web application using express and postgreSQL.
        p.lead.mb-4 You can add a bill or an income, the results will reflect in the graph.
        div.row.align-items-center
          div.col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            div.jumbotron
              h2.text-center Add a bill or an income !
              div.row
                div.col-sm-12.col-md-12
                  form(action="/", method="POST")
                    div.formgroup
                      label.small.mb-1.mt-3 Name:
                      input(placeholder='Name', required=true, name='name', value='' ).form-control
                      label.small.mb-1.mt-3 Date:
                      input(required=true, name='date', type='date', value='' ).form-control
                      label.small.mb-1.mt-3 Amount:
                      input(placeholder='$0.00', required=true, name='amount', type='number', value='' ).form-control
                      div.mt-3.text-center
                        div.btn-group.mr-2
                          button.btn.btn-danger(type="submit", name="bill", value="bill") Bill
                        div.btn-group.mr-2
                          button.btn.btn-success(type="submit", name="income", value="income") Income
          div.col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            table.table.table-sm
              thead
                tr
                  th(scope="col") Date
                  th(scope="col") Name
                  th(scope="col") Amount
                  th(scope="col")
                tr
              tbody
              if bills
                for bill in bills
                  tr(id=bill.id).bg-danger
                    td
                      span #{bill.date}
                    td
                      span #{bill.name}
                    td
                      span - $#{bill.amount}
                    td
                      a(href="/bill-" + bill.id) Edit
              if incomes
                for income in incomes
                  tr(id=income.id).bg-success
                    td
                      span #{income.date}
                    td
                      span #{income.name}
                    td
                      span + $#{income.amount}
                    td
                      a(href="/income-" + income.id) Edit
    include common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')