doctype html
html(lang="en")
  include common/head.pug
  +head("Budget App")
  body
    header
      include common/navbar.pug
      +navbar(user)
      div.container
        div.row
          div.col
            div.jumbotron
              h2.text-center Add a bill or an income !
              div.row
                div.col-sm-12.col-md-12
                  form(action="/", method="POST")
                    div.formgroup
                      label.small.mb-1.mt-3 Name:
                      input(placeholder="Name", required=true, name="name", value="").form-control
                      label.small.mb-1.mt-3 Date:
                      input(placeholder="mm/dd/yyy", required=true, name="date", type="date", value="").form-control
                      label.small.mb-1.mt-3 Amount:
                      input(placeholder="$0.00", required=true, name="amount", type="number", value="").form-control
                      div.mt-3.text-center
                        div.btn-group.mr-2
                          button.btn.btn-danger(type="submit", name="bill", value="bill") Bill
                        div.btn-group.mr-2
                          button.btn.btn-success(type="submit", name="income", value="income") Income
          div.col
            #chart
          div.w-100
          div.col
            table.table.table-sm
              thead
                tr
                  th(scope="col") Date
                  th(scope="col") Name
                  th(scope="col") Amount
                  th(scope="col")
                  th(scope="col")
                tr
              tbody
              if bills
                for bill in bills
                  tr(id=bill.id).bg-danger
                    td.align-middle
                      span #{bill.date}
                    td.align-middle
                      span #{bill.name}
                    td.align-middle
                      span - $#{bill.amount}
                    td.align-middle
                      a(href="/bill-" + bill.id + "/edit_bill", style="color:white;") Edit
                    td.align-middle
                      button(onclick=`deleteBill("${bill.id}")`).btn.btn-danger Delete
          div.col
            table.table.table-sm
              thead
                tr
                  th(scope="col") Date
                  th(scope="col") Name
                  th(scope="col") Amount
                  th(scope="col")
                  th(scope="col")
                tr
              tbody
              if incomes
                for income in incomes
                  tr(id=income.id).bg-success
                    td.align-middle
                      span #{income.date}
                    td.align-middle
                      span #{income.name}
                    td.align-middle
                      span + $#{income.amount}
                    td.align-middle
                      a(href="/income-" + income.id + "/edit_income", style="color:white;") Edit
                    td.align-middle
                      button(onclick=`deleteIncome("${income.id}")`).btn.btn-success Delete
    include common/footer.pug
    +footer()
    script(src="/javascripts/bills.js")
    script(src="/javascripts/incomes.js")
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript").
      google.charts.load("current", {"packages":["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        let data = new google.visualization.DataTable({ 
                    cols: [
                      {id: "expenses", label: "expenses", type: "string"},
                      {id: "amount", label: "$", type: "number"},
                      {id: "", role: "style", type: "string"},
                      {id: "", role: 'annotation', type: "number" }
                    ],
                    rows: [
                      {c:[{v: "Bills"}, {v: "#{sumBills}" }, {v: "#dc3545"}, {v: "#{sumBills}"}]},
                      {c:[{v: "Incomes"}, {v: "#{sumIncomes}" }, {v: "#28a745"}, {v: "#{sumIncomes}"}]}
                    ]});
        let options = { 
          "title":"Bills & Incomes",
          "width":520, "height":520,
          "legend": { position: "none" },
          "vAxis": {
            minValue: 0,
          },

        };

        var chart = new google.visualization.ColumnChart(document.getElementById("chart"));
        chart.draw(data, options);
      }

